<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @CSS


    <title>Hello, world!</title>
</head>
<body>


<!--    Top Navigation-->
    {{include('component/topNav/topNav.html')}}
<!--Top Navigation End-->



{{content}}













<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="{{assets('js/bootstrap.min.js')}}"></script>
<script src="{{assets('js/bootstrap.sidebar.js')}}"></script>

</body>
</html>